@font-face {
  font-family: 'Anodyne';
  src: url('assets/fonts/Anodyne.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Anodyne.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/Anodyne.woff') format('woff'), /* Modern Browsers */
       url('assets/fonts/Anodyne.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/Anodyne.svg#a9b2ebda26ef7c07a044bdbc867dc0b3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


body,
p,
button,
input,
select,
textarea {
	color: $text-color;
	font-family: $base-font-family;
	@include rem(font-size, 16px);
	line-height: $base-line-height;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

@import "headings";

@import "copy";